[submodule "travel"]
	path = travel
	url = git@github.com:houtanb/travel.git
[submodule "presentation-git"]
	path = presentation-git
	url = https://github.com/houtanb/presentation-git.git
[submodule "gitClass"]
	path = gitClass
	url = git@github.com:houtanb/gitClass.git
