---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/images/{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.author}}"></a>
      </div>
      <div class="author-name">{{site.author}}</div>
      <p>Research Software Engineer<br>and Jeweler</p>
    </div>
  </header> <!-- End Header -->
  <footer>
    <section class="contact">
      <h3 class="contact-title">Contact me</h3>
      <ul>
        <li><a href="https://instagram.com/{{ site.social-instagram }}" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href="http://github.com/{{site.social-github}}" target="_blank"><i class="fab fa-github"></i></a></li>
        <li><a href="https://git.dynare.org/houtanb" target="_blank"><i class="fab fa-gitlab"></i></a></li>
        <li><a href="https://stackoverflow.com/users/5449925/houtanb" target="_blank"><i class="fab fa-stack-overflow"></i></a></li>
        <li><a href="https://in.linkedin.com/in/{{site.social-linkedin}}" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        <li><a href="mailto:{{site.social-email}}"><i class="far fa-envelope"></i></a></li>
      </ul>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>
